.button {
  font-family: "Londrina Solid", cursive;
  font-size: 50px;
  margin: 5px;
  width: 60px;
  height: 60px;
}

.wrong {
  color: lightcoral;
  background-color: lightgray;
}

.right {
  color: lightgreen;
  background-color: lightgray;
}
